<section class='flex'>
    <section *ngFor="let contry of countries$ | async as countries$" class="contianer">
        <article class="contianer_card">
            <header><img src="{{contry.flag}}" width="100%" height="100%" loading="lazy"></header>
            <footer>
                <dl>
                    <hr>
                    <dt>Nombre del país:</dt>
                    <dd>{{contry.name}} </dd>
                    <hr>
                    <hr>
                    <dt>Continente</dt>
                    <dd>{{contry.favoritePoint}}</dd>
                    <hr>
                </dl>
            </footer>
        </article>
    </section>

</section>