<section class=" home_header">
    <header class="home_header_container">
        <figure class="">
            <img src="https://digitalhub.fifa.com/transform/3a170b69-b0b5-4d0c-bca0-85880a60ea1a/World-Cup-logo-landscape-on-dark?io=transform:fill&quality=75"
                alt="worldIcon" width="50px" height="50px">
        </figure>
        <nav class="home_header_container_nav">
            <dl>
                <dd routerLink="allcountries">
                    Todos los paises
                </dd>
                <button (click)="loginService.logout()">Cerrar Cesión</button>
            </dl>

        </nav>
    </header>
</section>

<router-outlet></router-outlet>